Host gateway
  Hostname gateway.e10.network

Host monitor
  Hostname monitor.e10.network

Host htpc
  Hostname 192.168.1.203

Host matrix
  Hostname 192.168.1.202

Host *
  User root
  IdentityFile keys/id_rsa
