jobs:
  buildARMSystem:
    if: 'github.ref == ''refs/heads/main'' ||

      contains(github.event.head_commit.message, ''[build]'')

      '
    name: Build system (ARM)
    runs-on: ubuntu-24.04-arm
    steps:
    - name: Checkout code
      uses: actions/checkout@v4.2.1
    - name: Clean up storage
      run: 'sudo rm -rf /usr/share/dotnet /usr/local/lib/android /opt/ghc /opt/hostedtoolcache/CodeQL

        sudo docker image prune --all --force

        sudo docker builder prune -a

        '
    - name: Install Nix
      uses: DeterminateSystems/nix-installer-action@v14
      with:
        extra-conf: allow-import-from-derivation = true
    - name: Setup Attic cache
      uses: ryanccn/attic-action@v0.3.1
      with:
        cache: e10
        endpoint: https://cache.e10.camp
        token: ${{ secrets.ATTIC_TOKEN }}
    - name: Use Cachix store
      uses: cachix/cachix-action@v15
      with:
        authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
        installCommand: nix profile add github:NixOS/nixpkgs/nixpkgs-unstable#cachix
        name: e10
    - run: 'nix build .#nixosConfigurations.${{ matrix.host }}.config.system.build.toplevel
        --accept-flake-config --show-trace

        '
    strategy:
      matrix:
        host:
        - bastion
        - monitor
  buildX86System:
    if: 'github.ref == ''refs/heads/main'' ||

      contains(github.event.head_commit.message, ''[build]'')

      '
    name: Build system (x86)
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4.2.1
    - name: Clean up storage
      run: 'sudo rm -rf /usr/share/dotnet /usr/local/lib/android /opt/ghc /opt/hostedtoolcache/CodeQL

        sudo docker image prune --all --force

        sudo docker builder prune -a

        '
    - name: Install Nix
      uses: DeterminateSystems/nix-installer-action@v14
      with:
        extra-conf: allow-import-from-derivation = true
    - name: Setup Attic cache
      uses: ryanccn/attic-action@v0.3.1
      with:
        cache: e10
        endpoint: https://cache.e10.camp
        token: ${{ secrets.ATTIC_TOKEN }}
    - name: Use Cachix store
      uses: cachix/cachix-action@v15
      with:
        authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
        installCommand: nix profile add github:NixOS/nixpkgs/nixpkgs-unstable#cachix
        name: e10
    - run: 'nix build .#nixosConfigurations.${{ matrix.host }}.config.system.build.toplevel
        --accept-flake-config --show-trace

        '
    strategy:
      matrix:
        host:
        - builder
        - controller
        - htpc
        - matrix
        - omnibus
name: Build
'on':
  push: {}
